
.bg-image {
	background-image: url('../img/dog-couple.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50px;
}

.mask {
	background-color: rgba(0, 0, 0, 0.2);
	height: 600px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 650px;
	border-radius: 50px;
}